CompileFlags:
  CompilationDatabase: .
  Add:
    - "/I"
    - "C:/Program Files (x86)/Intel/oneAPI/mkl/latest/include"
    - "/I"
    - "C:/Program Files (x86)/Intel/oneAPI/ipp/2026.0/include"
    - "/I"
    - "C:/VSC_Project/ConvoPeq/JUCE/modules"
    - "/I"
    - "C:/VSC_Project/ConvoPeq/r8brain-free-src"
